g,
text {
  font-family: Helvetica Neue, Helvetica Arial, sans-serif;
}

.btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

#do_move {
  background-color: #3894e0;
  font-weight: bold;
  color: #FFFFFF;
}

#do_move:hover {
  background-color: #337ab7;
}

#img_howtoplay {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
